<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">

    <ul>
        <!--<li v-for="person in people | orderBy 'name' -1 | limitBy 2 ">{{ person.name }}</li>-->
        <li v-for="person in people | role 'admin' ">{{ person.name }}</li>
    </ul>

    <!--<h1>{{ '5' | currency '€' }}</h1>-->

    <pre>{{ $data | json }}</pre>
    <!--<pre>{{ $data | jsonIt }}</pre>-->

</div>


<script src="vue.js"></script>
<script src="main.js"></script>
</body>
</html>